

<div class="d-flex pt-4 align-items-center justify-content-between">
    
    <a (click)="goBack()" class="btn-white text-decoration-none font-weight-semi-bold arrow">
        <i class="fi-rr-angle-left"></i>
    </a>
    
    <a [routerLink]="['/']" class="logo logo-sm ">
        <img  src="/assets/images/logo/pizza_delivery-logo-sm.jpg" alt="">
    </a>
</div>


<div class=" pt-6 mx-4 mb-5 text-white">
    <h1 class="font-weight-bold">{{headingMain}} <br> <span class="text-primary">{{headingSub}}</span> </h1>  
</div>



