
@import "variables";

@import "fonts";

@import "~bootstrap/scss/bootstrap";

@import url('https://cdn-uicons.flaticon.com/uicons-regular-rounded/css/uicons-regular-rounded.css');

html,body{
  min-height: 100%;
  padding: 0;
  height: 100%;
  width: 100%;
  background-color: var(--bs-black);
  
  
}


.w{
  &-bottom{
    width: 414px;
    @media (max-width:413px) {
      width: 100%;
    }
    &-middle{
      &-block{
        bottom: 171px;
      }
    }
    
    &-414{
      left:0;
      right:0;
      width: 100%;
      
      
    }
  }
}

.back-image{
  box-shadow:inset 0 0 0 2000px rgba(38,37,37, 0.48);
  &-attr{
    background-size:cover;
    background-repeat: no-repeat;
    background-position:50% 50%;
  }
  &-inner-pages{
    height:369px;
    @media (max-width:413px) {
      height: 304px;
    }
  }
  
}

.home-radius {
  border-radius: 20px 20px 0 0;
}
.container-custom {
  max-width: 414px !important;
  
  &-block{
    border-radius: 20px 20px 0 0;
    position: relative;
    top: -24px;
    
  }
  
  &-landing{
    &-page{
      box-shadow:inset 0 0 0 2000px rgba(38,37,37, 0.40);
    }
  }
  
}

footer{
  font-size: 13px;
  line-height: 18px;  
  letter-spacing: -0.02em;
}

.font{
  
  &-weight{
    &-bold{
      font-weight: $font-weight-bold;
    }
    &-semi-bold-light{
      font-weight: $font-weight-semi-bold-light;
    }
    &-semi-bold{
      font-weight: $font-weight-semi-bold;
    }
  }
  &-size{
    &-md{
      font-size: $font-size-md;
    }
    &-sm{
      font-size: $font-size-sm;
    }
    
    &-xs{
      font-size: $font-size-xs;
    }
  }
}


.btn{
  &-cta{
    font-size: 0.875rem;
    letter-spacing: -0.02em;
   
  }
  
}


.block{
  min-height: 66vh;
  &-sm{
    min-height: 61vh;
  }
  overflow: hidden;

  
}




.logo{
  &-md{
    &, img{
      max-width: 164px;
    }
  }
  &-sm{
    &, img{
      max-width: 98px;
      float:right
    }
  }
  
}



.sub{
  &-heading{
    line-height: 21px;
    letter-spacing: -0.02em;
    font-size: 1.063rem;
    
  }
}



/* Change Autocomplete styles in Chrome*/
input:-webkit-autofill,
input:-internal-autofill-selected,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border: 1px solid var(--bs-white);
  -webkit-text-fill-color: var(--bs-black-60);
  -webkit-box-shadow: none;
  font-size: .89rem;
  transition: background-color 5000s ease-in-out 0s;
  font-family: var(--bs-font-sans-serif) ;
  font: 400 .89rem var(--bs-font-sans-serif);
  background-color: rgb(var(--bs-light-pink)) !important;
  background-image: none !important;
  color: var(--bs-black-60) !important; 
}

a{
  font-weight: $font-weight-semi-bold;
  cursor: pointer;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--bs-black-60) !important;
  opacity: 1; /* Firefox */
  
}


