<div class="container-custom position-relative back-image vh-banner back-image-inner-pages back-image-attr container-fluid">
    <div class="logo logo-md pt-5 mx-auto">
        <img src="/assets/images/logo/pizza_delivery-logo.jpg" alt="">
    </div>
    <div class="fixed-bottom w-bottom w-bottom-middle-block mx-auto" >
        
        <div class="mx-5 mb-6 text-white">
            <h1 class="font-weight-bold">Order <span class="text-primary">Pizza</span> </h1>
            <p class="font-weight-semi-bold sub-heading">Enjoy deliveries from a variety of <br class="d-sm-block d-none">Pizza restuarants</p>
        </div>
    </div>
</div>

<div class="container-fluid  container-custom-block position-relative container-custom  " >
    
    
    <div class="fixed-bottom home-radius bg-secondary w-bottom w-bottom-block mx-auto" >
        
        
        <div class="cta py-4 mb-3 mx-5">
            <app-button link="sign-in" btnExtra="mt-3 mb-3" title="Sign in" ></app-button>
            <app-button link="register" btnStyle="btn-off-white" btnExtra="mb-3" title="Register" ></app-button>
            
        </div>

        <app-footer normalText="Forgot password?" linkText="Recover password" link="forgot-password"></app-footer>
       
    </div>
    
    
    
    
    
    
    
    
</div>
