<div class="container-custom back-image back-image-inner-pages back-image-attr container-fluid">
    <app-header headingMain="Your lunch" headingSub="awaits" ></app-header>
</div>

<div class="container bg-secondary container-custom-block container-custom container-custom-inner-page " >
    
    <div class="mx-2">
     
        <div class=" block  btn-cta-opacity text-white rounded-top px-3 py-5">
            <app-main-heading title="Forgot password"></app-main-heading>
            
            <div class=" mt-3 ">
                <div class="font-weight-semi-bold font-size-sm mb-2">Please enter cellphone number</div>
                <form class="mb-4 mt-5">
                    <div class="form-group mt-3">
                        <input type="number" class="form-control form-control-sm" name="cellphone" autocomplete="off" id="cellphone" placeholder="Cellphone number">
                    </div>

                    <app-terms></app-terms>
                    
                    <app-button link="otp-forgot" title="Next" ></app-button>
                   
                </form>
            </div>

           
            <app-footer></app-footer>
        </div>
        
        
        
        
    </div>
    
    
    
    
</div>
