<div class="container  back-image back-image-attr container-custom container-custom-inner-page " >
    
    <div class="mx-2">
        <app-header [headingMain]="headingMain" [headingSub]="headingSub" ></app-header>
        
        
        <div class="block-dark block btn-cta-opacity text-white rounded-top px-3 py-5">
            <h2 class="font-weight-bold mt-1 ">Reset password</h2>
            
            <div class=" mt-3 ">
                <div class="font-weight-semi-bold font-size-sm mb-2">Please set a new password</div>
                <form class="mb-4 mt-5">
                    <div class="form-group mt-3">
                        <input type="number" class="form-control form-control-sm" name="cellphone" autocomplete="off" id="cellphone" placeholder="Cellphone number">
                    </div>

                   
                    
                    <button  [routerLink]="['/otp']" class="btn btn-lg mb-3 mt-5 btn-cta text-white bg-secondary w-100 font-weight-semi-bold">Next</button>
                </form>
            </div>

            <app-terms></app-terms>
            <div class="position-absolute bottom-0 w-414 d-flex justify-content-center" >
            
                <footer class="footer  mb-3 ">
                    <div class="forgot-password  ">
                     <a class="text-decoration-none" [routerLink]="['/sign-in']"><span class="text-white">Already a user?</span>  <span class="text-primary"> Please sign in</span> </a> 
                    </div>
                </footer>
            </div>
        </div>
        
        
        
        
    </div>
    
    
    
    
</div>
